Конфигурация 1 Быстрый старт
Конфигурация 2 Релиз май 2022
Конфигурация 3 Простой склад
Конфигурация 4 Пример локализации решений
Конфигурация 5 новый подход к NoSQL
Новый редактор конфигураций SimpleUI (обновлено 14 мая 2022)
